$cor-banner: #FFA629;  

// .logo-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
  
//   .logo {
//     width: 100px;
//     height: 100px;
//   }

@mixin center-element  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .logo-container {
        @include center-element;
    }

    .logo {
        display: flex;
        top: 60px;
        position: absolute;
    }

   

