$cor-banner: #8A2BE2; 

.banner {
    background: $cor-banner;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 10%;
    
}

$cor-banner: #FFA629;  

@mixin center-element  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .logo-container {
        @include center-element;
        
    }

    .logo {
        display: flex;
        top: 60px;
        position: absolute;
    }

    .logo-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 4px solid #d1ce17;
    }

.banner-text{
    padding-top: 3rem;
    margin-top: 0.2rem;
    text-align: center;
    align-items: center;
}

.banner-text h1 {
    font-size: 0.9rem;
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
}
