$cor-banner: #8A2BE2; 

.banner {
    background: $cor-banner;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 10%;
    
}

$cor-banner: #FFA629;  

@mixin center-element  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .logo-container {
        @include center-element;
        
    }

    .logo {
        display: flex;
        top: 60px;
        position: absolute;
    }

   

